:root {
  --primary-text-color: #212121;
  --accent-color: #ff7c3b;
  --background: #ffffff;
  --secondary-bg: #f5f2ed;
  --secondary-font: "Roboto", "Arial", sans-serif;
  --primary-font: "Raleway", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background-color: var(--background);
  color: var(--primary-text-color);
  font-family: var(--secondary-font);
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.section {
  padding: 100px 0px 100px 0px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button:hover, .button:focus {
  background-color: #ff7a2f;
}

.subtitle {
  margin-bottom: 50px;
  font-family: var(--primary-font);
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subtitle {
    font-size: 22px;
  }
}

.details {
  text-decoration: none;
  font-weight: 700;
  color: var(--accent-color);
}

#about,
#events,
#news,
.section-title {
  margin: 0 auto;
  margin-bottom: 50px;
  font-family: var(--primary-font);
  font-size: 30px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  #about,
  #events,
  #news,
  .section-title {
    font-size: 40px;
  }
}

.mobile-menu__btn {
  padding: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
  fill: var(--primary-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__btn:hover, .mobile-menu__btn:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .mobile-menu__btn {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear, visibility 250ms linear;
}

@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 35px;
  right: 20px;
  padding: 16px 10px 0px 0px;
  line-height: 0;
  border: none;
  background-color: transparent;
  fill: var(--primary-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu__close-btn {
    top: 35px;
    right: 40px;
  }
}

.mobile-menu__container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  margin: 0;
}

.mobile-menu__item--link {
  justify-content: center;
  display: inline-block;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
  margin-top: 50px;
  color: var(--primary-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__item--link:hover, .mobile-menu__item--link:focus {
  color: var(--accent-color);
}

.last-link {
  margin-bottom: 150px;
}

.social-list {
  display: flex;
  position: sticky;
  bottom: 0;
  justify-content: center;
}

.social-list__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.social-list__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  margin-right: 10px;
}

.footer-icon {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  margin-right: 15px;
  border: 1px var(--primary-text-color) solid;
  border-radius: 50%;
  border: none;
  background-color: var(--accent-color);
  fill: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon:hover, .footer-icon:focus {
  background-color: #ff7a2f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.header {
  background: var(--background);
  border-bottom: #ececec 1px solid;
}

.header .list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.header-link {
  padding: 40px 0px 40px 0px;
  text-transform: uppercase;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-text-color);
  text-decoration: none;
}

.header-link:hover, .header-link:focus {
  color: var(--accent-color);
}

.item .header-link {
  position: relative;
}

.header-link:hover::after {
  content: "";
  display: block;
  position: absolute;
  margin-top: 55px;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.logo-link {
  margin-right: 150px;
  text-transform: uppercase;
  color: var(--primary-text-color);
  font-family: var(--logo-font);
  font-weight: 700;
  text-decoration: none;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .logo-link {
    margin-right: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-link {
    margin-right: 150px;
  }
}

.main-nav,
.main-nav nav {
  display: flex;
  align-items: center;
}

.main-nav a {
  display: flex;
  text-decoration: none;
}

.site-nav {
  display: flex;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .site-nav {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    display: flex;
  }
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .header-link.current {
  color: var(--accent-color);
}

.language-list {
  display: flex;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .language-list {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .language-list {
    display: flex;
  }
}

.language-list .item:not(:last-child) {
  margin-right: 30px;
}

.language-link {
  display: flex;
  text-transform: uppercase;
  color: var(--primary-text-color);
  text-decoration: none;
  align-items: center;
  padding: 40px 0px 40px 0px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.language-link:hover, .language-link:focus {
  color: var(--accent-color);
}

.hero {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  width: 100%;
  height: 700px;
}

.hero-title {
  width: 700px;
  color: #ffffff;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 50px;
}

@media screen and (min-width: 480px) {
  .hero-title {
    margin-left: auto;
    text-align: center;
    width: 400px;
    font-size: 26px;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    width: 700px;
    font-size: 36px;
    margin-bottom: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    width: 700px;
    font-size: 32px;
    margin-bottom: 50px;
    margin-left: 0;
    text-align: left;
  }
}

.help-btn {
  display: inline-block;
  border-radius: 50px;
  padding: 10px 40px 10px 40px;
  text-align: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .help-btn {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .help-btn {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .help-btn {
    margin: 0;
  }
}

.about-us p {
  margin: 0 auto;
  width: 1000px;
  margin-bottom: 25px;
  font-family: var(--logo-font);
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) {
  .about-us p {
    margin: 0 auto;
    width: 400px;
    font-size: 28px;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .about-us p {
    margin-bottom: 25px;
    width: 700px;
    font-size: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us p {
    margin: 0 auto;
    width: 1000px;
    font-size: 22px;
  }
}

.about-us p:last-child {
  margin: 0 auto;
  width: 1000px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .about-us p:last-child {
    width: 400px;
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .about-us p:last-child {
    width: 700px;
    font-size: 22px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us p:last-child {
    margin: 0 auto;
    width: 1000px;
    font-size: 22px;
  }
}

.details {
  text-decoration: none;
  font-weight: 700;
  color: var(--accent-color);
}

.events-list {
  display: flex;
}

.events-list .item {
  margin-right: 40px;
  flex-basis: calc(100% / 5);
}

.events-list .item:last-child {
  margin-right: 0;
}

.card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}

.card-content {
  padding: 20px 22px 20px 22px;
}

.image {
  object-fit: cover;
}

.events-list h3 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.events-list p {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.photo-list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 150px;
  padding: 0px 40px 0px 40px;
}

@media screen and (min-width: 1200px) {
  .photo-list {
    flex-direction: row;
    display: flex;
  }
}

.photo-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-left: -10px;
}

@media screen and (min-width: 1200px) {
  .photo-box {
    flex-direction: row;
  }
}

.photo-box .image {
  position: relative;
  flex-basis: calc(100% / 3);
  margin-left: 10px;
  margin-top: 10px;
}

.photo-box .image:nth-of-type(2) {
  margin-left: 20px;
}

.news-date {
  color: var(--accent-color);
}

.info {
  margin-bottom: 25px;
  font-weight: 300;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.details-btn {
  display: inline-block;
  width: 75px;
  border-radius: 50px;
  padding: 5px;
  text-align: center;
  border: 2px var(--accent-color) solid;
  color: var(--primary-text-color);
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

.donation {
  background: var(--accent-color);
}

.donation .section-title {
  margin-bottom: 50px;
  color: #ffffff;
}

.donation .subtitle {
  margin-bottom: 75px;
  color: #ffffff;
}

.donation-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  border-radius: 50px;
  padding: 10px 40px 10px 40px;
  text-align: center;
  background-color: #040814;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.mail-link {
  text-decoration: none;
  font-weight: 700;
  color: var(--primary-text-color);
}

.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}

.founder-box {
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.founder-subtitle {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: var(--primary-font);
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.founder-position {
  margin: 0 auto;
  margin-bottom: 75px;
  text-align: center;
  font-weight: 300;
  font-family: var(--primary-font);
  color: #9c9c9c;
}

.documents-btn {
  display: block;
  margin: 0 auto;
  width: 350px;
  border-radius: 50px;
  padding: 10px 40px 10px 40px;
  text-align: center;
}

.footer {
  padding: 50px 0px;
  border-top: #ececec 1px solid;
}

#contacts {
  margin-bottom: 15px;
  text-transform: uppercase;
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  font-weight: 700;
}

.address {
  margin-bottom: 10px;
  font-weight: 300;
  font-style: normal;
}

.footer-link {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  color: var(--primary-text-color);
}

.footer-box {
  display: flex;
}

.footer-info {
  margin-right: auto;
}

.footer-join p {
  margin-bottom: 15px;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-join p {
    margin-left: 40px;
    text-align: center;
  }
}

.actions {
  display: flex;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .actions {
    margin-left: 40px;
    justify-content: center;
  }
}

.fond-link {
  margin-right: 150px;
}

.agreements h3 {
  margin-bottom: 25px;
  font-family: var(--primary-font);
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
}

.agreements p {
  margin: 0 auto;
  width: 1000px;
  margin-bottom: 25px;
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.03em;
}

.appendix {
  display: block;
  margin: 0 auto;
  width: 1000px;
  margin-bottom: 25px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
}

.agreements ol {
  margin: 0 auto;
  width: 1000px;
  margin-bottom: 25px;
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
}

.agreements-link {
  font-weight: 300;
  color: var(--primary-text-color);
}
/*# sourceMappingURL=main-eng.css.map */