.about-us p {
    margin: 0 auto;
    width: 1000px;
    margin-bottom: 25px;
    font-family: var(--logo-font);
    font-weight: 300;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 0.03em;

    @media screen and (min-width: 480px) {
        margin: 0 auto;
        width: 400px;
        font-size: 28px;
        margin-bottom: 25px;
    }
    
    @media screen and (min-width: 768px) {
        margin-bottom: 25px;
        width: 700px;
        font-size: 26px;
    }
    
    @media screen and (min-width: 1200px) {
        margin: 0 auto;
        width: 1000px;
        font-size: 22px;
    
    }
}

.about-us p:last-child {
    margin: 0 auto;
    width: 1000px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 480px) {
        width: 400px;
        font-size: 20px;
    }
    
    @media screen and (min-width: 768px) {
        width: 700px;
        font-size: 22px;
    }
    
    @media screen and (min-width: 1200px) {
        margin: 0 auto;
        width: 1000px;
        font-size: 22px;
    
    }
}

.details {
    text-decoration: none;
    font-weight: 700;
    color: var(--accent-color);
}