.donation-box {
    display: block;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        display: block;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        margin: 0 auto;
    }
}

.requisites-info {
    width: 480px;
    margin-right: auto;
    

    @media screen and (min-width: 768px) {
        width: 700px;
    }
    
    @media screen and (min-width: 1200px) {
        margin: 0 auto;
        width: 1000px;

    }
    
}

b {
    display: block;
    margin-bottom: 25px;
    font-family: var(--logo-font);
    font-size: 26px;
}

p {
    margin: 0 auto;
    margin-bottom: 25px;
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.card-number {
    font-family: var(--main-font);
    font-size: 24px;

}