.fond-link {
    margin-right: 150px;
}

.agreements h3 {
    margin-bottom: 25px;
    font-family: var(--primary-font);
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;
}

.agreements p {
    margin: 0 auto;
    width: 1000px;
    margin-bottom: 25px;
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.03em;
}

.appendix {
    display: block;
    margin: 0 auto;
    width: 1000px;
    margin-bottom: 25px;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
}

.agreements ol {
    margin: 0 auto;
    width: 1000px;
    margin-bottom: 25px;
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
}

.agreements-link {
    font-weight: 300;
    color: var(--primary-text-color);

}