.subtitle {
    margin-bottom: 50px;
    font-family: var(--primary-font);
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
    letter-spacing: 0.03em;
}

.details {
    text-decoration: none;
    font-weight: 700;
    color: var(--accent-color);
}

#about,
#events,
#news,
.section-title {
    margin: 0 auto;
    margin-bottom: 50px;
    font-family: var(--primary-font);
    font-size: 40px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
}