:root {
    --primary-text-color: #212121;
    --accent-color: #ff7c3b;
    --background: #ffffff;
    --secondary-bg: #f5f2ed;
    --secondary-font: "Roboto", "Arial", sans-serif;
    --primary-font: "Raleway", sans-serif;
}